.menu {
  position: fixed;
  top: 19%;
  left: 0;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navsld{
  position: fixed;
  padding: 5px;
  top: 200px;
  left: 0;
  background-color: var(--bc-purple);
  color: #fff;
  border-radius: 0 15px 15px 0;
}
.menu li a{
    display:block;
    height:5em;
    width:5em;
    text-indent:-500em;
    line-height:5em;
    text-align:center;
    color: white;
    background-color: var(--bc-grayb);
    position: relative;
    border-bottom: 1px solid #fff;
    transition: background 0.3s ease-in-out;
}
.menu li a:before {
  font-family: FontAwesome;
  speak: none;
  text-indent: 0em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
  
}
.menu li a.search:before {
  content: "\f002";
}
.menu li a.archive:before {
  content: "\f187";
}
.menu li a.pencil:before {
  content: "\f040";
}
.menu li a.contact:before {
  content: "\f003";
}
.menu li a.about:before {
  content: "\f007";
}
.menu li a.home:before {
  content: "\f015";
}
.menu li a:hover{
  background-color:var(--bc-purple);
  color: #fff;
  
}
.menu li.current a {
  background: #553278;
  color: #fff;
}
.menu li a.active {
  background-color:var(--bc-purple);
  color: #fff;
}
.menu li a.active:after{
    position:absolute;
    left:5em;
    top:0;
    content:"";
    border:2.5em solid transparent;
    border-left-color:var(--bc-purple);
    border-width: 2.5em 1em
    color: #fff;
}
.menu li{
    position:relative;
}
.menu li:after{
    content: attr(title);
    position:absolute;
    left:5em;
    top:0;
    height:5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform:uppercase;
    background:var(--bc-purple);
    padding:2em;
    transition: all 0.3s ease-in-out;
    visibility:hidden;
    opacity:0;
    color:#fff;
}
.menu li:hover:after{
    visibility:visible;
    opacity:1;
    width:150px;
  
}
/*Menu Responsivo*/
@media all and (max-width: 47em){
  .menu{
    top:150px;
  }
}
@media all and (max-height: 41em){
  .menu{
    top:150px;
  }
}
/*Ocultar menu en pantallas pequeñas*/
@media all and (max-width: 34em){
  .menu li{
    font-size:70%;
    visibility: hidden;
  }
  .navsld i{
    visibility: visible;
  }/*Mostrar menu al pasar el puntero encima*/
  .navsld:hover .menu li{
    visibility: visible;
  }
}
@media all and (max-height: 34em){
    .menu li{
        font-size:70%;
        visibility: hidden;
      }
      .navsld i{
        visibility: visible;
      }
      .navsld:hover .menu li{
        visibility: visible;
      }
}